<html>
	<head>
		<title> Index Page </title>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700&amp;v2' rel='stylesheet' type='text/css'/>
		<style>
		  a.index_anchor{
		             text-decoration:none;
		             background-color:black;
		             color:white;
		             }
		  a.index_anchor:hover{
		             text-decoration:none;
		             background-color:white;
		             color:black;
		             border-left:5px solid black;
		             border-right:5px solid black;
		             }
		</style>
	</head>
	<body>
	  <div id="header" align="right" height="5px" width="100%" style="valign:top;">
	    {% if current_user %}
		    <a class="index_anchor" href={{logout}}> Logout</a>
                      {% if admin_status %}
		        <a class="index_anchor" href='/admin'> Admin Dashboard </a>
		      {% else %}
			&nbsp; Info : User not Admin 
		      {% endif %}
		    {% else %}  
		      <a class="index_anchor" href={{login}}> Login </a>
		    {% endif %}
          </div>
	  <hr>
	  <div width="100%" height="20px" align="left">
	    <h1> Kaleidoscope </h1>
	    <h4>-- The World as I see it -- </h4>
	  </div>
	  <hr>
	  <div width="20px" height="450px" align="right" style="position:absolute; right:0;">
	    <div align="left">
	    {% if date_list %}
	    <p> Archives </p>
	    <b>By month:</b>
	    <ul>
	      {% for date_count in date_list %}
	      <li><a href="date/{{ date_count.date|date:"Y-m" }}/">{{ date_count.date|date:"F, Y" }}</a> ({{ date_count.count }})
		{% endfor %}
	    </ul>
	    {% endif %}
	    </div>
	  </div>
	  <div style="top:2em; position:relative; width:50%;">
		{% for data in blog_data %}
		  <blockquote><big style="text-decoration:underline;">{{data.title|escape}}</big>
		    <p>{{data.content|escape}}</p>
		    {% ifnotequal data.blob_key "None" %}
		    <img src="/showimg/{{data.blob_key}}" heigh="200px" width="200x"/><br>
		    {% endifnotequal %}
		  <small><i>Written by <b>{{data.author}}</b> on {{data.date|date}}</i></small>
		  {% if admin_status %}
		   {% ifequal data.author current_username %}
		    <a href='/edit/{{data.key.id}}'>Edit</a>
		    <a href='/deletepost/{{data.key.id}}'>Delete Post</a>
		   {% endifequal %}
		  {% endif %}
		  </blockquote>
		  <br><br>
		{% endfor %}
 	</div>
	</body>
</html>
